body {
    background-image: url('/static/Images/get.webp');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
