* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #d3dce3;
        padding-top:100px; /* Adjust based on navbar height */
    
}
h1, p, button {
    text-transform: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays above other elements */
}

.workout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
    padding: 50px;
}

.text-content {
    max-width: 450px;
}

.text-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #111;
}

.text-content p {
    font-size: 1rem;
    margin: 20px 0;
    color: #333;
}

.cta-button {
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
    width: 450px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}
/* 
.overlay {
    position: absolute;
    width: 110%;
    height: 100%;
    background: linear-gradient(135deg, transparent 40%, #0077c2 40%);
    top: 0;
    left: -10%;
    clip-path: polygon(80% 0%, 100% 20%, 100% 80%, 80% 100%, 0% 100%, 20% 80%, 20% 20%, 0% 0%);
} */
