{% extends 'base.html' %}
{% load static %}




{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/help.css' %}">



<section class="sea-container">
    <h1 class="sea-title">Help Center</h1>
    <p class="sea-subtitle">What we may help you with?</p>
    <div style="display: flex; justify-content: center; gap: 10px;">
        <div class="sea-search-box">
             <img src="{% static 'Images/search.png' %}" alt="search">
            <input type="text" placeholder="How to track an email?">
        </div>
        <button class="sea-search-btn">Search</button>
    </div>
</section>















<script src="nutrition.js"></script>


{% endblock %}

{% block footer %}{% endblock %}
