{% load static %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="container">
    <img src="{% static 'Images/logo.png' %}" alt="Freeletics Logo" class="logo">
    <h1>Welcome back</h1>
    <p>Don't have a Freeletics account? <a href="#">Sign up for free</a></p>

    <button class="btn google-btn">
        <img src="{% static 'Images/google.svg' %}" alt="Google Logo" class="icon"> Log in with Google
    </button>

    <a href="#" class="btn email-link">Log in with Email</a>
</div>

</body>
</html>

{% endblock %}

{% block footer %}{% endblock %}
