{% extends 'base.html' %}
{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/nutrition.css' %}">

<section class="nutrition-section">
        <div class="nutrition-overlay">
            <h1 class="nutrition-heading">Eat clean.<br>Reach your goals.</h1>
            <p class="nutrition-subtext">Cutting-edge digital nutrition coach. Tailored meal plans. Foodie-grade recipes.</p>
            <button class="nutrition-button">Start eating clean now →</button>
        </div>
    </section>

{% endblock %}





 {% block footer %}
 {% endblock %}
