{% load static %}
{% load socialaccount %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>

<div class="container">
    <img src="{% static 'Images/logo.png' %}" alt="Freeletics Logo" class="logo">
    <h1>Join FitUs Today</h1>
   <p>Already have a FitUs Account? <a href="{% url 'accounts:login' %}">Login Here for free</a></p>



 <a href="#" class="btn email-link">SignUp in with Email</a>

    <a href="{% provider_login_url 'google' %}">
     <a href="{% provider_login_url 'google' %}" class="btn google-btn">
    <img src="{% static 'Images/google.svg' %}" alt="Google Logo" class="icon">
    Sign up with Google
</a>

</a>



</div>

</body>
</html>

{% endblock %}

{% block footer %}{% endblock %}
