{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">

<section>
    <div class="top-bar"><div class="words">Free shipping over $200</div></div>
    <div class="separator"></div>
    <div class="navbar">
        <div class="nav-links">
            <span>SPORTSWEAR</span> | <span>NUTRITION</span>
        </div>
        <div class="icons">
            <svg viewBox="0 0 24 24"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>
            <svg viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
            <svg viewBox="0 0 24 24"><circle cx="12" cy="7" r="4"/><path d="M6 21v-2c0-2.8 2.2-5 5-5h2c2.8 0 5 2.2 5 5v2"/></svg>
        </div>
    </div>
    <div class="bottom-bar" id="dynamic-text">⚡ Push Your Limits!️</div>

</section>

<section class="hero-section">
    <video autoplay loop muted class="hero-video">
        <source src="{% static 'Vedios/shop.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="hero-overlay">
        <h1>THE WORKOUTS  MUST-HAVES</h1>
        <p>The best collections for this season’s training.</p>
        <div class="hero-buttons">
            <button class="btn btn-white">SHOP WOMEN</button>
            <button class="btn btn-grey">SHOP MEN</button>
        </div>
    </div>
</section>



























<script src="{% static 'js/shop.js' %}"></script>

{% endblock %}
