{% extends 'base.html' %}
{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/training.css' %}">


<section class="workout">
        <div class="training-content">
            <h1>Easy to use.<br> Effective. Tailored to your needs.</h1>
            <p>Over 350 exercises and personalized workouts that help you to become strong inside and out.</p>
            <button class="training-cta-button">Start now →</button>
        </div>
        <div class="training-image-container">
            <img src="{% static 'Images/training.png' %}" alt="Workout Image">
            <div class="training-overlay"></div>
        </div>
    </section>

<section class="freeletics-section">
        <div class="section-title">Your benefits with the<br> freeletics coach</div>
        <div class="benefits-grid">
            <div class="benefit-card">
                <img src="{% static 'Images/circle.svg' %}" alt="Target Icon" class="icon">
                <p>Customized training sessions that you can do any time, anywhere, with or without equipment</p>
            </div>
            <div class="benefit-card">
                <img src="{% static 'Images/tick.svg' %}" alt="Check Icon" class="icon">
                <p>Training tips for beginners and advanced athletes</p>
            </div>
            <div class="benefit-card">
                <img src="{% static 'Images/running.svg' %}" alt="Running Icon" class="icon">
                <p>Workouts adjustable to any situation</p>
            </div>
            <div class="benefit-card">
                <img src="{% static 'Images/house.svg' %}" alt="Progress Icon" class="icon">
                <p>Track your progress and be part of a supportive community</p>
            </div>
        </div>
    </section>

{% endblock %}






































{% block footer %}
{% endblock %}
