* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif !important;
}

body {
    background-color: #f5f8fa;
    
}
h1, p, button {
    text-transform: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays above other elements */
}

.workout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    padding: 50px;
    background-color: #cfd8dc;
    max-height: 45rem;
}

.training-content {
    max-width: 600px;
    margin-left: 10rem;
}

.training-content h1 {
    font-size: 3.3rem;
    color: #161e21;
    font-weight: 540;
    margin-bottom: 2rem;

}

.training-content p {
    font-size: 1.3rem;
    margin: 20px 0;
    font-weight: 450;
    font-stretch: 103%;
    color: #161e21;
    margin-bottom: 3rem;

}
.training-cta-button {
    background-color: #fff;
    padding: 10px 25px; /* Increased padding */
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px; /* Increased font size */
    transition: all 0.3s ease-in-out;
}

.training-cta-button:hover {
    background-color:#cfd8dc; /* Light gray hover effect */
}
.training-image-container{
    margin-right: 7rem;
    margin-top: 8.35rem;
}

